[submodule "lssa"]
	path = lssa
	url = git@github.com:logos-blockchain/lssa.git
[submodule "logos-delivery-module"]
	path = logos-delivery-module
	url = git@github.com:logos-co/logos-delivery-module.git
[submodule "logos-delivery"]
	path = logos-delivery
	url = git@github.com:logos-messaging/logos-delivery.git
	branch = feat/rln-spam-protection
